/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');
* > * {
} */
*{
font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
}
html,
body {
  max-height: 100vh;
  overflow-x: hidden;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
li{
  text-decoration: none;
  list-style: none;
}

/* AUTH */
h1 {
	font-size: 2rem;
	margin-bottom: 2rem;
}

.h1-login {
	font-weight: 700;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.form {
	display: flex;
	flex-direction: column;
	width: 500px;
	margin-bottom: 1rem;
}

label {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

input {
	padding: 0.5rem;
	margin-bottom: 1.7rem;
	height: 48px;
}

button {
	padding: 0.5rem 1rem;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
	height: 48px;
}

button:hover {
	background-color: rgba(7, 7, 7, 0.8);
}
