.catalog{
  height: 50vh;
}
.slide{
  height: 50vh;
}
.items{
  text-align: center;
  padding: .5rem;
}
.items:hover{
  border: 1px solid black;
  cursor: pointer;
}
.containerNew{
  background-color: bisque;
}
.containerNew figure{
  margin: 0;
  padding: 0;
}
.sweater{
  height: 100%;
}
.leftContainer{
  padding: 0 2rem;
  width: 100%;
}
.leftContainer h3{
  font-size: 2.5rem;
}
.newButton{
  border-radius: 2px;
  padding-bottom: .5rem;
  border-bottom: 2px solid black;
  
}