.conButton{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1.5rem 0;
}
.conButton2{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: right;
    gap: 1rem;
    margin: 1.5rem 0;
}
.linkMenu{
    color: #f1f1f1;
    background-color: #149e14;
    padding: .7rem 1.4rem;
    border-radius: .6rem;
}
.linkMenu1{
    background-color: #9c9c9c;
    padding: .7rem 1.4rem;
    border-radius: .6rem;
    color: #f1f1f1;
}

.linkMenu2{
    color: #f1f1f1;
    background-color: #DCA552;
    padding: .7rem 1.4rem;
    border-radius: .6rem;
}

.linkMenu3{
    color: #f1f1f1;
    background-color: #991313;
    padding: .7rem 1.4rem;
    border-radius: .6rem;
}
.linkMenuFocus1, .linkMenuFocus2, .linkMenuFocus3,.linkMenuFocus4{
    background-color: transparent;
    color: black;
}
.linkMenuFocus1{
    border: 2px solid  #9c9c9c;
}
.linkMenuFocus2{
    border: 2px solid #149e14;
}
.linkMenuFocus3{
    border: 2px solid  #DCA552;
}
.linkMenuFocus4{
    border: 2px solid  #991313
}