.container{
    margin-top: 13vh;
    margin-bottom: 2rem;
}
.colItem{
    cursor: pointer;
    padding: 1rem .8rem;
}
.colItem:hover{
    /* color: black; */
    /* box-shadow: inset 0 0 0 2px; */
    transform: scale(1.1);
}
.productimage{
    border-radius: 20px;
}